[2015-02-19 19:39] evanjhopkins opened #2 "global name 'get_file_extension' is not defined << on receiving snap"
File "storifierbot.py", line 25, in <module>
    bot.listen()
  File "/Volumes/WD500/Development/SnapchatBot/snapchat_bots/bot.py", line 49, in listen
    snaps = self.get_snaps()
  File "/Volumes/WD500/Development/SnapchatBot/snapchat_bots/bot.py", line 127, in get_snaps
    snap = self.process_snap(snap_obj, data)
  File "/Volumes/WD500/Development/SnapchatBot/snapchat_bots/bot.py", line 40, in

[2015-02-19 19:50] #2 closed

[2015-02-19 20:02] evanjhopkins commented on #2
awesome, works perfectly now

[2015-02-20 01:12] jczimm opened #4 "400 Client Error: Bad Request on Linux"
`> python examples/connectorbot.py` fails for me on CentOS 7.0 x64:

[code]

[2015-02-20 01:15] agermanidis commented on #4
I've seen that 400 error on `/bq/updates` only when the username and password combination I used was wrong. Can you double check that you're using the right credentials? Thanks!

[2015-02-20 01:21] jczimm commented on #4
I tried it again with a different account of which I also double-checked the credentials, and the problem persisted.

[2015-02-20 22:30] brandonthepvongsa opened #5 "Loss of image quality"
I forked this over a few days ago and I recall testing it and seeing the reflector bot sent back an image of approximately the same quality, but for some reason now the reflected image has a significant quality loss. Is this normal or am I doing something wrong?

[2015-02-20 23:01] agermanidis commented on #5
Interesting, thanks. I'm almost certain I haven't changed any of the image processing code in the past few days but I'll look into it!

[2015-02-20 23:42] brandonthepvongsa commented on #5
Yeah I'm looking into it and I really don't know what it is.

1. I did a bit of testing, sent a snap from user A to user B and attempted to reflect that back. Loss of quality.

2. Sent a snap from A to B and viewed the snap using the original SnapChat software. No loss of quality.

3. Sent a snap from A to B and saved the snap locally after being process by SnapChatBot. Loss of quality.

I assume

[2015-02-21 01:35] jczimm commented on #4
If I may ask, on what OS are you developing/testing this code?

[2015-02-21 02:53] agermanidis commented on #4
I'm using OS X 10.10 on a Macbook Pro. Interesting that the request breaks on CentOS but works on cygwin. Don't have many guesses on what may be the problem -- can you try using the SnapchatBot without passing the username + pass as command-line arguments, e.g.:

[code]

[2015-02-21 04:37] agermanidis commented on #5
Hey, can you pull the latest commit and try running the reflector bot again?

[2015-02-21 04:40] agermanidis commented on #5
I think Snapchat changed something on their server code recently -- before there were black bars around snaps when I wasn't using a specific image size that I found through trial & error, but that doesn't seem to be the case anymore, so I started using a much larger one.

[2015-02-21 05:16] jczimm commented on #4
That's not working for me either...  I have a feeling the problem might have to do with how the request(s) are being sent, as I'm trying to run this on a VPS.

[2015-02-21 21:41] Snowlav opened #6 "I want to work on a libary that works with the newest version of snapchat."
I notice this repo is still using really old endpoints such as /bq/login.

I want to create a new libary to use with the newest version of snapchat, currently 9.2.1.0.
This includes all the new endpoints and a way to avoid detection.

I have both the newest endpoints and the means needed to avoid detection.

Would you like to work with me on this? Please leave a message below with your skype ID.

[2015-02-22 02:36] krissrex commented on #6
I would like this. My account got locked rather quickly. (I'm not a dev here, but rather a user.)
Could you just fork it and fix what you can, Snowlav? Or make a pull request.

[2015-02-22 04:07] ahoskins opened #8 "cssselect fails on Googlerbot"
Hi, cool library - really fun stuff.

I'm trying to get the Googlerbot to work, but having trouble with:

`href = root.cssselect("a.bia")[0].attrib["href"]`

The `root` object does not have any DOM nodes with `class = bia`.  I'm thinking it may have to do with google's HTML being asynchronous?  When I write the `root` object to file there is some HTML from the response, just not all of it.

Any id

[2015-02-22 04:51] agermanidis commented on #6
Is there a disclosure online on the new API like [Gibsec's](http://gibsonsec.org/snapchat/fulldisclosure/) on the old one?

[2015-02-22 04:56] Snowlav commented on #6
I am afraid not, we must make one ourselves

2015-02-22 5:51 GMT+01:00 Anastasis Germanidis <notifications@github.com>:

[2015-02-22 12:20] N07070 opened #11 "IOError:broken data stream when reading image"
This is not an issue, it is a solution to it.
If you get the following error : IOError:broken data stream

You need to :
* Read this : http://codeinthehole.com/writing/how-to-install-pil-on-64-bit-ubuntu-1204/
* then, uninstall libjpeg : `sudo apt-get remove libjpeg8-dev`
* then, uninstall Pillow : `sudo pip uninstall Pillow`

One this is done, you can re-install all of it in this order :
* `sudo

[2015-02-22 12:21] #11 closed

[2015-02-22 13:48] Rob-- commented on #6
I think there's a lot of people that would appreciate a new library.
If you do host a page with documentation such as Gibsec, could you also post simple explanations on how Snapchat communicated with the API? I understand it's through POST requests and then parsing the reply, but is the actual snap data (blob is it called?) stored in the reply?

[2015-02-22 14:14] Rob-- opened #12 "Video without audio being treated as an image"
I noticed that it's possible to send and open images and videos with no problem.
However, it is possible to disable audio on Android and on iOS you can disable the microphone from the Settings applications which denies Snapchat microphone access when recording.

I don't have the error message saved, I could get it if need be.
I was looking through the library to try an resolve this error, I notice

[2015-02-22 14:20] agermanidis commented on #12
Good catch, I pushed a fix.

[2015-02-22 14:20] #12 closed

[2015-02-22 14:41] agermanidis commented on #6
Using the new API is definitely worthwhile (my IP has been blocked a bunch of times too) but I'm not sure I have the time to work on it in the immediate future.

It'd be awesome if you decide to work on it @Snowlav -- you can either fork this library or make a lower-level API client library that SnapchatBot could use instead of pysnap.

Cheers,
-A

[2015-02-22 15:38] Rob-- commented on #6
I've just been doing some research and I believe it's possible to manipulate the chat on Snapchat with `loq`.

[2015-02-22 22:17] N07070 commented on #4
Same here.
It seems to have something to do with the request module of python.

[2015-02-22 23:15] N07070 opened #13 "Saved images are empty."
Hello,
I tried this :
[code]

but when I display it ( on a computer, or with Imagemagick with X forwarding ), it give an empyt image.

Any ideals ?

[2015-02-22 23:27] EthanBlackburn commented on #13
I just tried it on OSX 10.9.5 and it saves the image correctly. What OS are you on?

[2015-02-22 23:33] N07070 commented on #13
Linux, Debian. Up-to-date, last version. I works on a other linux, based on ubuntu.

[2015-02-22 23:34] EthanBlackburn commented on #13
Just tested on RHEL 6.6 and the image is indeed empty. I'll take a look

[2015-02-22 23:44] EthanBlackburn commented on #13
Actually it looks like none of SnapchatBots functionalities are working at all on RHEL 6.6. The bot doesn't even recognize snaps. I think this is a deeper issue than just image capture

[2015-02-22 23:53] N07070 commented on #13
I chmod 777 the directory where they are saved, no change.
It's not linux, cause it's working on my desktop. Did you use your bot in a desktop env. ? Because, when it works, I'm in a desktop. So, maybe that's the thing ?

[2015-02-23 00:21] EthanBlackburn commented on #13
I tested in a virtualenv and without. They both worked on OSX 10.9.5. Neither works on red hat

[2015-02-23 00:49] EthanBlackburn commented on #13
Ahh, I found the error. line 64 in snap.py:

if self.media_type is MEDIA_TYPE_VIDEO or MEDIA_TYPE_VIDEO_WITHOUT_AUDIO

should be

if self.media_type is MEDIA_TYPE_VIDEO or self.media_type is MEDIA_TYPE_VIDEO_WITHOUT_AUDIO

[2015-02-23 06:11] agermanidis commented on #13
Thanks @EthanBlackburn for fixing this! @N07070, do you still get an empty snap after the latest commit?

[2015-02-23 08:18] leaen commented on #8
I've also tried looking into this,
I've tried fetching the page with ```urlopen``` and with ```requests``` with and without redirects, and can't seem to get html that looks like what you would get from a browser.
Perhaps fiddling with the User-Agent may fix the problem?

[2015-02-23 10:50] N07070 opened #15 "Error sending the welcome image"
[code]

But it seems that the user never gets the snap. Also, the image is maybe not supposed to pass through ffmpeg ?

[2015-02-23 10:58] N07070 commented on #13
Yep, now my images are HD ! Thanks !

[2015-02-23 10:58] #13 closed

[2015-02-23 14:49] N07070 opened #16 "Error sending a snap from a file."
[code]

[2015-02-23 15:04] krissrex commented on #16
Looks like this does not find anything:
[code]
 Could you test by using a print statement instead of **_duration_string =_** to print the following? :
[code]

[2015-02-23 15:13] krissrex commented on #5
I blamed some code about this. Seems to be an issue with image saving. Try this:
[code]

So as a workaround before it is fixed, you can use:
[code]

I could also note that duration does not seem to be set to 10 here, but rather 6. Possible bug?

[2015-02-23 15:16] krissrex commented on #4
Check if you are blocked. Using a low timeout, like 5, sets of the Snapchat anti-bot detection.
Go to [snapchat.com/unlock](http://snapchat.com/unlock) and try to unlock you account.

[2015-02-23 15:24] agermanidis commented on #16
The main issue seems to be that it's dealing with an image as a video, that's why it tries to get the duration of the video w/ ffprobe and fails. It's strange, as I tried creating a Snap from a png file and it correctly handled it on my machine, but I'll look into it further.

[2015-02-23 16:17] N07070 commented on #16
@krissrex I cannot reproduce the error, but now, it outputs this error ( it sends the image as a video. )
[code]

[2015-02-23 16:17] #15 closed

[2015-02-23 16:18] N07070 commented on #6
+1

[2015-02-23 16:34] evanjhopkins commented on #6
Maybe route the connections through Tor to avoid IP's getting blocked? I'll probably make a PR with that now that I think about it.

[2015-02-23 18:12] EthanBlackburn commented on #16
have you tried using guess_type() on your image? And could you post the code for you bot

[2015-02-23 18:41] Snowlav commented on #6
Evan it's not needed now that I have found a way to avoid detection :)

2015-02-23 17:34 GMT+01:00 Evan Hopkins <notifications@github.com>:

[2015-02-23 21:25] N07070 commented on #16
I did not try to use the guess_type(). Here is the code of the bot :
[code]

[2015-02-23 21:35] ShaneIsrael opened #17 "Question about deleting story segments or entire story"
Is there a way to have the bot delete the oldest story segments? I had a bot reach what I think was the max story of 4950 seconds and get Forbidden errors when trying to post further and thus needed to wait 24 hours for it to clear.

Thanks

[2015-02-23 21:58] EthanBlackburn commented on #16
I found it.

if media_type is MEDIA_TYPE_VIDEO or MEDIA_TYPE_VIDEO_WITHOUT_AUDIO

should be

if media_type is MEDIA_TYPE_VIDEO or media_type is MEDIA_TYPE_VIDEO_WITHOUT_AUDIO

[2015-02-23 21:59] agermanidis commented on #16
I corrected this earlier:

https://github.com/agermanidis/SnapchatBot/commit/e21e52c66d32c6aa032acbd546307ab80a1794e1

[2015-02-23 22:01] agermanidis commented on #17
Yes, I just need to implement the method on `SnapchatBot` that calls `/bq/delete_story`, will get on that soon

[2015-02-23 22:04] ShaneIsrael commented on #17
Awesome thank you!
On Feb 23, 2015 3:01 PM, "Anastasis Germanidis" <notifications@github.com>
wrote:

[2015-02-23 22:13] ShaneIsrael commented on #17
One other question related to the story. Do you have any idea why I might occasionally be getting a "403 Forbidden Error" when trying to post to the story. It happens fairly frequently and causes the bot to crash. I noticed it only started happening after the bot started posting quite a lot to the story. But even after letting the story refresh it is continuing to happen frequently. Possibly Snapc

[2015-02-23 22:19] agermanidis commented on #17
That's likely Snapchat blocking your IP/account. Try to increase the timeout on the `listen` method.

[2015-02-23 22:33] N07070 commented on #16
So how do I implement it ?

[2015-02-23 23:14] agermanidis commented on #16
Have you tried running your code on the last commit? You shouldn't need to use `guess_type`, your issue might've been already fixed with https://github.com/agermanidis/SnapchatBot/commit/e21e52c66d32c6aa032acbd546307ab80a1794e1

[2015-02-23 23:17] N07070 commented on #17
Up to implement this ! :+1:

[2015-02-23 23:27] N07070 commented on #6
@Snowlav you're working on something ? :)

[2015-02-23 23:30] Snowlav commented on #6
Yes and no.
I want to build a new library but my coding skills aren't great.
What I can do however is reverse engineer and that besides a lot of
networking is how I found out some exploits and how to avoid detection.

I got in touch with some clever minds. And if any of you want to contribute
to building a library along with me and those people, again, feel free to
leave your skype and I will cont

[2015-02-24 00:29] agermanidis commented on #6
Even if you could even make a document with the new endpoints, that would be super helpful too!

[2015-02-24 01:12] Snowlav commented on #6
/loq/gae_server_list
/loq/ping
/loq/all_updates
/loq/conversation
/loq/conversations
/loq/double_post
/loq/send
/loq/retry
/loq/login
/loq/register_username
/loq/friend_search
/loq/clear_conversation
/loq/clear_feed
/loq/conversation_post_messages
/loq/conversation_auth_token
/loq/local_story
/loq/friend_hide
/loq/update_user
/bq/delete_story
/bq/friend
/bq/get_captcha
/bq/bests
/bq/story_blob
/bq

[2015-02-24 09:49] N07070 opened #18 "Error when getting a video from a friend."
[code]

I'm trying to fix it. Could use a little help :wink:
Edit: Works with the iPhone 6, but not with Android Phones ( OnePlus One )

`Traceback (most recent call last):
  File "./storyfbbot-dev.py", line 40, in <module>
    bot.listen()
  File "/home/n07070/Code/SnapchatBot/snapchat_bots/bot.py", line 54, in listen
    self.on_snap(snap.sender, snap)
  File "./storyfbbot-dev.py", line 26, in o

[2015-02-24 10:08] N07070 commented on #16
Okay, it's fixed ! :smile:

[2015-02-24 10:08] #16 closed

[2015-02-24 10:22] jackbillstrom commented on #18
I actually got get a video from a friend, but I couldn't open it. Seems like it's broken.

``Mac OS X 10.10.2``

[2015-02-24 10:26] N07070 commented on #18
You sent a video from a Mac ?

[2015-02-24 10:28] jackbillstrom commented on #18
@N07070  No, sorry I meant that I'm running on a Mac

[2015-02-24 10:32] N07070 commented on #18
Could you try to run it on another system ( windows,linux,bsd ? )

[2015-02-24 10:35] jackbillstrom commented on #18
@N07070 I recieved it, and saved it. I could try running it on linux within the next hour I believe.

[2015-02-24 10:38] N07070 commented on #18
Could not reproduce with my OnePlus. Assuming it's fixed ? I will try with another phone.
@jackbillstrom , it could be cool. Also, can you send snaps to the bot, that will then repost it or send it to another friend ? ( Like with the reflector or stroryfier bot ? )

[2015-02-24 10:40] jackbillstrom commented on #18
@N07070 Haven't tried those yet,  just modified the ``autowelcomebot.py``with my needs. I'll try and report.

[2015-02-24 17:34] evanjhopkins commented on #6
I'm down to work on it. Skype: ehopki

[2015-02-24 17:41] N07070 commented on #6
Do you have Telegram ?

[2015-02-24 23:48] jczimm commented on #4
I tried increasing the timeout, and I also tried unlocking the account.  It still doesn't run right on my VPS, but it works perfectly fine locally.  Might the problem be with `/bq/updates`?

[2015-02-25 05:49] ahoskins commented on #8
User-agent doesn't make a difference for me.  I'm fairly sure google results are lazily loaded so parsing the HTML synchronously won't work.  I ended up using the (deprecated) [google image search API](https://developers.google.com/image-search/v1/jsondevguide) - it just returns JSON that can be parsed much more easily than HTML.

[2015-02-25 06:06] brandonthepvongsa commented on #5
Nice find!

[2015-02-25 21:43] Rob-- commented on #6
To anyone interested, I don't think Snapchat sends chat messages through the API as you would've expected; the endpoint when interacting with the endpoint is "chat_typing". It looks something like this:

    {
        "timestamp" : timestamp,
        "recipient_usernames" : [users],
        "username" : "username",
        "req_token": token,
        "features_map" : data
    }

[2015-02-25 22:10] Rob-- commented on #18
@N07070 - yes, of course, why wouldn't you be able to? You could also pick a random person from your friends list to send it to.

[2015-02-25 23:04] sanche21 commented on #4
I'm having the same issue. I tried posting to my story through the app, but it won't even post there. All other snapchat functions work fine, but not stories. I was using the storifier bot, I wonder if Snapchat disabled my account. (that unlock link didn't help)

[2015-02-25 23:26] N07070 commented on #18
I was actually more geunily curious, but it is true that a random snap service would be pretty neat. A thing a bit like Fling.

[2015-02-25 23:34] N07070 commented on #6
What does `data`contain ?

[2015-02-25 23:39] N07070 commented on #4
I suggest making another snapchat account to try ?

[2015-02-26 02:47] Snowlav commented on #6
@robert bq_typing is doing exactly what it says, it only indicates that you
are typing, it's not holding mac / payload.

2015-02-26 0:34 GMT+01:00 N07070 <notifications@github.com>:

[2015-02-26 17:01] Rob-- commented on #6
Yeah I understand that, I'm just saying that `chat_typing` is the only endpoint I've seen so far when interacting with the chat. It's used to give a heads up notification that someone is typing (to the recipient) - when sending messages there is no interaction with the API.

[2015-02-26 17:11] ShaneIsrael commented on #18
My bot will crash with the exact error same error if either myself (Nexus 4) or two of my friends (iPhone 5) send it any form of video. However, other people (I don't know the device or snapchat version) have successfully sent it a video.

[2015-02-26 18:38] Snowlav commented on #6
Then you missed another endpoint completely :)
/loq/conversation_post_messages is called twice after /bq/chat_typing and
is triggered by the button, to post a message.
(if you are talking about the latest version though, this might be
different, I haven't checked the latest version yet)

But the endpoint /loq/conversation_post_messages should be working with
this repo, and an updated user-agent.

[2015-02-26 19:59] jczimm commented on #4
@N07070: Tried the same with a new account (to no avail).

* Python 2.7.5
* [how do I find Pillow version?]
* [how do I find ffmpeg or imagemagick version?]
* CentOS 7.0 x64

[2015-02-26 23:56] N07070 commented on #18
Seems to be an error with the determination of media type ( which is strange, cause it's supposed to be all .mp4 )

[2015-02-26 23:58] N07070 commented on #4
Try with `pip udpate Pillow` and `man ffmpeg` and `man imagemagick`.
I have the Python 2.7.3, so you're more up to date... Altough, I'm running Debian.

[2015-02-27 19:45] danwatco commented on #4
I am having the same problem as @jczimm Any help appreciated!

[2015-02-28 03:08] #4 closed

[2015-02-28 05:09] jczimm commented on #4
Thanks! I know why it doesn't work now. :disappointed:

    Authorization Failed, status: "403" , message "The network you are connected to has been temporarily blocked because of suspicious activity"

[2015-02-28 10:27] danwatco commented on #4
@jczimm I got the same message! Any idea how to fix? I still have access to internet, so don't see a problem

[2015-02-28 13:44] Rob-- commented on #6
Ahhh, I believe I am using the latest version. I haven't seen `conversation_post_messages` at all and I've thoroughly tested it.

I do also agree that this library needs a bit of updating (implementation of `/loq/` and it shouldn't require `pysnap`, it should directly implement it (with the appropriate credits in `README.md`).

[2015-02-28 15:21] jczimm commented on #4
@danwatco I got this error because I was trying to run it from a VPS, which was blocked by Snapchat.  Where/what are you trying to run your bot from?

[2015-02-28 16:13] agermanidis commented on #6
I could see them moving to XMPP or a similar protocol (either over raw TCP or over WebSockets) for chat as it's more efficient than the constant polling of an HTTP endpoint.

[2015-02-28 16:13] danwatco commented on #4
@jczimm I was running a vps too, I had to recreate one with a different location/ip and now it works!

[2015-02-28 16:16] agermanidis commented on #5
I'm assuming has been fixed after image size / quality commits, let me know if it hasn't!

[2015-02-28 16:16] #5 closed

[2015-02-28 18:48] Rob-- commented on #6
@agermanidis you might be correct. I've captured some TCP packets and it seems that the application is communicating via TCP. However, this could or could not be the chat conversations - it might be something else.

Here's an extract:

    CONNECT feelinsonice-hrd.appspot.com:443 HTTP/1.1
    Host: feelinsonice-hrd.appspot.com
    Proxy-Connection: Keep-Alive
    User-Agent: Snapchat/9.1.2.0 (Nexu

[2015-02-28 20:03] jczimm commented on #4
@danwatco Oh ok, but how can you be sure that the new VPS won't get blocked?  Just wondering, because it's a bit of work for me to recreate the VPS on a new IP.

[2015-02-28 20:14] danwatco commented on #4
@jczimm I can't be :/ But it will have to do for now

[2015-03-01 02:02] agermanidis commented on #4
I would guess that the higher the listen timeout, the less likely you are to get blocked, so use a large value to make sure that you won't be. 

—
Sent from Mailbox

On Sat, Feb 28, 2015 at 3:14 PM, Dan <notifications@github.com> wrote:

[2015-03-01 02:20] jczimm commented on #4
@agermanidis Oh ok. How long is a realistic timeout (realistic to seem like
the app)?
On Sat, Feb 28, 2015 at 9:02 PM Anastasis Germanidis <
notifications@github.com> wrote:

[2015-03-02 11:21] ricoxor opened #23 "Error when i try to send snap"
When i use the ReflectorBot.py i have this error :

[code]

[2015-03-02 12:09] ricoxor commented on #23
The snapchat account was not configured.

[2015-03-02 12:09] #23 closed

[2015-03-02 15:28] ObjectiveTruth commented on #6
@krissrex, I'm just starting to implement this library, can you explain a bit what you mean by setting the timeout from 5-90 randomly? Is it per request? or overall, adding a delay?

[2015-03-02 15:37] Sh1eld commented on #6
@ObjectiveTruth I may be wrong however how I interpreted his edit is that he changed the default timeout to 90 for his bot, instead of 5, which allowed his bot to not get blocked.

I am interested in contributing to more API research and also the development of the updated library.

[2015-03-02 15:41] ObjectiveTruth commented on #6
@Sh1eld, I just noticed its a constant and someone seems to have made the edit already by setting it by default to 15. Thanks for the quick reply!

[2015-03-02 15:52] ricoxor opened #24 "HTTPError: 403 Client Error: Forbidden"
When i try the bot i have this message :

[code]

[2015-03-02 17:16] Sh1eld commented on #24
Uh, I'd say to make sure that your username and password are correct to begin and furthermore make sure your IP/the account isn't blacklisted/blocked/banned/etc.

A 403 error is raised because it received the request but for some reason forbid you, hence "Forbidden", however I can't pinpoint the exact reason for you and giving you some things to try out which may result in a solution.

[2015-03-02 17:18] Sh1eld commented on #6
@ObjectiveTruth You can either change the default for yourself or you can do bot.listen(timeout=90) (I think) as shown in the reflectorbot example.

[2015-03-02 21:46] Rob-- commented on #24
Try this:

snapchat.com/unlock

[2015-03-02 22:32] N07070 commented on #4
I set it to 45 seconds. And you ?

[2015-03-02 22:33] N07070 commented on #6
Big up to you guys !

[2015-03-02 22:35] N07070 commented on #18
Up, I'm still getting the error. It seems to come from pysnap, so I would like to update pysnap to do that. Is it possible ? Could we update to using the last version of pysnap ?

[2015-03-03 00:12] Rob-- commented on #6
The timeout just delays how often the bot runs a check (get snaps and monitor friend activity).

If you guys are interested in working on a library leave your Reddit or Skype usernames.

[2015-03-03 00:15] Rob-- commented on #18
I can't look into this now, but it might be worth cloning the library, edit some code involved with retrieving the file type and then installing that library.

[2015-03-03 00:46] Sh1eld commented on #18
PIL and ImageMagick installed? Only thing I can think of because I am not having this issue and I have both of these installed.

[2015-03-03 00:49] ShaneIsrael commented on #18
I have both of those installed and still get the issue.

[2015-03-03 02:16] agermanidis commented on #18
I think that might be key. Snapchat for Android might be sending the data of the snap gzipped, unlike the iOS version which sends raw data. `SnapchatBot` is not handling the gzipped case right now. I'll add code to unzip the data and then process it in a bit.

[2015-03-03 02:31] agermanidis commented on #18
To those who are encountering this issue: what phone are the snaps you're trying to process being sent from?

@N07070 @jackbillstrom @ShaneIsrael

[2015-03-03 02:55] agermanidis commented on #17
I added a `delete_story` method on `SnapchatBot`. My IP has been temporarily blocked by Snapchat right now, so I didn't have time to fully test this, but let me know if you encounter any issues.

[2015-03-03 06:07] ObjectiveTruth opened #25 "IOError: Decoder jpeg not available"
Hey Fellas, I got this error on the first snap I sent to my bot using the example reflectorbot
[code]
I'm running on Ubuntu with python 2.7

I have imageMagick and FFMPEG installed and are both on my path
[code]
These can both be run from anywhere on the system. Not sure what might be wrong?

[2015-03-03 08:27] ricoxor commented on #24
My server is ban, i don't know why, it's a new one...
I try to change my IP

[2015-03-03 09:21] blendom commented on #24
I also got this error, and I haven't never hosted bot in my ip.
Could there be something wrong in feelingsonice-hrd.appspot.com?

Im trying to run it on raspberry pi
I got some errors before, but got this after reinstalling all depencies+python+pip

[2015-03-03 10:49] enstulen opened #26 "HTTPError: 400 Client Error: Bad Request"
Hi,
I was running a SnapChatBot fine yesterday, but this morning I got this error.

HTTPError: 400 Client Error: Bad Request

Running Python 2.7
Mac OSX Yosemite

Its it something wrong with the host feelinsonice-hrd.appspot.com or is it my coding mistake?
Anyone else get the same error?

[2015-03-03 11:10] ricoxor commented on #26
Same error

[2015-03-03 11:24] Rob-- commented on #24
Also have this problem, it's possible our IP was banned. This happened before and we switched our server from London to NY. We're switching again to SF and we'll see if this resolves the problem or if there's a problem with the API.

[2015-03-03 13:21] ObjectiveTruth commented on #25
I think I fixed it, had to install a pillow dependency
[code]

[2015-03-03 13:22] #25 closed

[2015-03-03 13:37] ObjectiveTruth commented on #6
I'm not a python expert, but looking over the code, looks like there needs to be more entropy to the calls.

The instant fire back is a pretty dead give away of a bot, same with the sleep(timeout) regularity is pretty suspicious too.

My 2 cents..

[2015-03-03 13:41] agermanidis commented on #25
I changed the readme to mention libjpeg. Thanks!

[2015-03-03 13:50] sanche21 commented on #26
I'm getting that too as of last night

[2015-03-03 14:19] Sh1eld commented on #26
Yeah, this has to do with the host. This is not a coding mistake, even considering that it was working for you last night. I think we'll have to wait for the owner's note on this but this is either the host acting up or Snapchat could have blocked all requests from this host.

[2015-03-03 14:23] ObjectiveTruth commented on #26
The host ```feelinsonice-hrd.appspot.com``` is snapchat's server though.
I get the impression they're doing a big sweep on bots

[2015-03-03 14:24] ricoxor commented on #26
When snapchat block an unofficial API, what it's really affected on the code ?

[2015-03-03 14:26] Sh1eld commented on #26
@ricoxor I actually don't know. Thinking about what ObjectiveTruth said, which for some reason cleared up a lot of things or I was just had temporary confusion, it'd be our entire request. Headers included, user agent, some how Snapchat is knowing that when we run it is a bot. I'm going to look more into this because I'm interested in fixing it so I may end up forking.

[2015-03-03 14:29] ObjectiveTruth commented on #26
@Sh1eld, I just forked it and I'm working on adding some entropy to all the calls using ```random.uniform(5.0, 45.0)``` but I think you're right about the headers. Might have to go more low level on it.
To be banned so quickly must be something systematically obvious.

[2015-03-03 14:31] ricoxor commented on #26
This API work fine, you can check the headers and user agent if you want.
https://github.com/mgp25/Snap-API

[2015-03-03 14:56] ObjectiveTruth commented on #26
@ricoxor , when you say it works fine, have you tried running the PHP script in a vacuum? or you saying from looking at the source?

There's an open issue from 5 days ago about unauthorized access on the very first call using the API
https://github.com/mgp25/Snap-API/issues/2
related?

[2015-03-03 15:17] ricoxor commented on #26
This API work fine this morning and now too (I think).
This is the last working API for me

[2015-03-03 15:21] ObjectiveTruth commented on #26
Haha, I see we're going down the same rabbit hole, I see your comments in a few places.

I'm getting my environment setup now to run that Snap-API, I'll let you know what I find.
Hopefully that works and we can start from there

[2015-03-03 16:00] N07070 commented on #26
Same error.
[code]

[2015-03-03 18:15] Rob-- commented on #26
@ObjectiveTruth what are you doing with `random.uniform()`? Where are you adding that to the call?

[2015-03-03 18:49] ObjectiveTruth commented on #26
@Rob-- Haven't done it yet, but was thinking before each call back. What do you think?
[code]

[2015-03-03 19:06] Rob-- commented on #26
@ObjectiveTruth

The documentation for `random.uniform(a, b)` is:

    Return a random floating point number N such that a <= N <= b for a <= b and b <= N <= a for b < a.

So you've added the line `random.uniform(5.0, 45.0)`, isn't this line effectively useless? It returns a number but you're not passing it as a parameter anywhere.

Is your intention to generate a random integer and make the progr

[2015-03-03 19:09] ObjectiveTruth commented on #26
yeah that's what I mean, was in a middle of a few things, forgot to pass it in, but yes that's the intention

[2015-03-03 19:14] Rob-- commented on #26
@ObjectiveTruth

Well that's easy to do:
`time.sleep(timeout + random.uniform(5.0, 45.0))`

The only problem is here, and I'm sure others will agree with me, is that I doubt Snapchat are looking at the intervals at which you send your requests. I think it comes down to looking at the parameters and headers that are passed on during the `POST

[2015-03-03 19:23] ObjectiveTruth commented on #26
@Rob-- Alright

[2015-03-03 21:24] N07070 commented on #26
Do we have any solutions ? How could I help ?

[2015-03-03 21:26] N07070 commented on #18
@agermanidis do you think you could get an android phone for a few days to test ? I could provide a small, old, galaxy Y phone.

[2015-03-03 21:26] N07070 commented on #17
Awesome !

[2015-03-03 21:27] N07070 commented on #24
It seems our IPs are banned. Time to TOR.

[2015-03-03 21:28] ShaneIsrael commented on #18
I have an android phone and I could test, however for some reason I am
getting a 400 Client Error: Bad Request when trying to run my bot from my
computer. However, I can log into it connected to my wifi from my phone
so I'm not sure what the problem is there. Wasn't an issue yesterday or
previous days.

On Tue, Mar 3, 2015 at 2:26 PM, N07070 <notifications@github.com> wrote:

[2015-03-03 21:29] N07070 commented on #6
@Rob-- @ObjectiveTruth We should add a more natural way of getting snaps. Maybe even try to simulate the function of the apps.
I think more lag would be me stealth.

[2015-03-03 21:29] N07070 commented on #18
It seems that it's an error with our IPs being banned.

[2015-03-03 21:35] ShaneIsrael commented on #18
That doesn't make sense though. I have the exact same IP address on my
phone and can log into it on my phone just fine.

I looked up 400 Client Error and it has something to do with sending the
log in info in an unrecognized format. I wonder if
Snapchat made a change on their end.

On Tue, Mar 3, 2015 at 2:29 PM, N07070 <notifications@github.com> wrote:

[2015-03-03 23:21] Rob-- commented on #26
Okay! I think I've done it! I implemented `loq` (replacing `bq`) and it was a successful request - hell of a successful request, it returned like 5 pages of information. I think this means I might need to document `loq` for future use.

Basically, because this information was returned it means I was able to successfully login - which means it wasn't a bad request. The downside to all of this is th

[2015-03-03 23:23] Rob-- commented on #6
The new Snapchat implements a couple of new API endpoints that need to be called, this library doesn't implement them. If these new endpoints aren't called then Snapchat probably gets suspicious.

[2015-03-03 23:33] misingnoglic commented on #26
I don't think this has to do with Snapchat identifying us as bots, I had my bot shut off for a few weeks now, and when I turned it back on today I got this error.

[2015-03-04 01:36] Sh1eld commented on #26
@Rob--
Hmm, okay.
I can help developing the updated library and I believe that this will be better in the long run anyways considering us using /bq/ was a stretch. Using the new endpoints will be updated and provide more functionality. I

[2015-03-04 04:56] PhlexPlexico commented on #4
Reporting in with the same issue here. Every bot I try within the examples gives me error 400. Account is unlocked, and everything on that end is running. Using windows 7, python, cygwin, imagemagick etc installed to latest versions that I could find.

    [2015-03-03 22:52:18,009] Starting new HTTPS connection (1): feelinsonice-hrd.ap
    pspot.com
    [2015-03-03 22:52:18,828] "POST /bq/login HT

[2015-03-04 05:30] #17 closed

[2015-03-04 06:21] agermanidis commented on #26
Just pushed a hotfix that uses `/loq/login` instead of `/bq/login`. It logins, sends, and receives perfectly on my machine (I was getting 400s as well before). When I find some time this weekend I will work on completely removing the dependency on `pysnap` and implementing the new `/loq` endpoints.

[2015-03-04 06:41] sanche21 commented on #26
that fix worked for me, thanks so much!

[2015-03-04 08:03] Rob-- commented on #26
This still doesn't work - fetching from the `updates` endpoint fails.

[2015-03-04 08:27] enstulen commented on #26
This seems to be working for me. Great job, really appreciate your efforts. Thanks!

[2015-03-04 09:03] ricoxor commented on #26
Great job, it work for me ! Thank's

I just have an error on the /friend :

[2015-03-04 09:00:00,631] "POST /bq/updates HTTP/1.1" 200 None
[2015-03-04 09:00:00,678] [StorifierBot-5659] User MyUser added me
[2015-03-04 09:00:00,678] Starting new HTTPS connection (1): feelinsonice-hrd.appspot.com
[2015-03-04 09:00:01,117] "POST /bq/friend HTTP/1.1" 200 None
[code]

[2015-03-04 12:39] jczimm commented on #6
+1 for new API end points support

[2015-03-04 12:53] agermanidis commented on #26
You need to import Snap from snapchat_bots as well.

—
Sent from Mailbox

On Wed, Mar 4, 2015 at 4:03 AM, Romain <notifications@github.com> wrote:

[2015-03-04 14:28] Sh1eld commented on #26
Working great, @agermanidis.

Very quick update, I'm glad.

[2015-03-04 15:24] agermanidis commented on #26
@Rob--, what kind of error code are you getting?

[2015-03-04 15:50] Rob-- commented on #26
@agermanidis - not an error code, the way you handle the content returned in the request is invalid, I'll compile the code now and send it through here.

[2015-03-04 19:04] ricoxor commented on #26
I have this error only on the server

[code]

I use proxy, it's not my IP and not my account :/

[2015-03-04 23:35] N07070 commented on #26
It's working for me. Awesome !

[2015-03-04 23:36] N07070 commented on #18
Fixed. Okay, but the issue is still not fixed with videos :smile:

[2015-03-04 23:37] Rob-- commented on #26
It says you're unauthorised - I'm not too sure if I'm correct but I believe this means that your `auth_token` might be invalid. This could have to do with the owner's new implementation of `loq` which doesn't look fully finished.

[2015-03-04 23:37] N07070 commented on #8
Could you close the issue and/or make a commit with your solution ? Thanks :smile:

[2015-03-04 23:42] Rob-- commented on #18
If you have a look at the open issue about a 400 Bad Request error you can follow the updates on the situation, basically Snapchat have most likely tried pushing users to `loq` (as logging in with this part of the API requires more tokens and is somewhat securer). I'm currently recreating this library to work with all of the latest API's endpoints.

[2015-03-04 23:51] ShaneIsrael commented on #18
Awesome thank you! Can't wait until the videos are working. Thanks for the
quick response! :)

On Wed, Mar 4, 2015 at 4:36 PM, N07070 <notifications@github.com> wrote:

[2015-03-04 23:52] Rob-- commented on #18
The videos should be working - right now I've got I've got a bot running on a server that can handle videos. If you provide me with more information, I can try and solve the issue if I have time tomorrow.

[2015-03-04 23:57] ShaneIsrael commented on #18
All I know is that when I (Android (lollipop) nexus 4) or my friends on
iPhone 5's and 5s's send videos to the bot, it crashes with the error being
unable to identify media type. (I have imageshack and ffmpeg installed).
However, some people (don't know who they are) are able to get videos
through occasionally without crashing the bot. No idea what phones they
have.

On Wed, Mar 4, 2015 at 4:52 PM

[2015-03-05 00:03] N07070 commented on #18
It seems to be very random, sometimes it's okay, sometimes no...

[code]

[2015-03-05 04:13] agermanidis commented on #26
Since the 400 issue seems to have been resolved, I'm closing this. Please move the discussion of other errors to relevant (new or existing) issues. Thanks!

[2015-03-05 04:13] #26 closed

[2015-03-05 08:36] ricoxor opened #27 "401 Client Error: Unauthorized"
I have this error only on my server not on local

[code]

I'm using proxy, it's not my IP or my account :/

[2015-03-05 11:23] ricoxor commented on #26
@Rob-- Do you have a solution for your error ?

[2015-03-05 11:29] #27 closed

[2015-03-05 14:10] #24 closed

[2015-03-05 14:13] larserikfagernaes opened #30 "Newly added people are unable to see previosly added story-snaps"
When a person adds my bot, he is not able to see snaps that are already posted on my bot's story.
Snapchat normally doens't function like this. Is there a solution for this?

[2015-03-05 15:08] Rob-- commented on #26
@ricoxor - no, I fixed it by updating the get updates methods to use the latest endpoint.

[2015-03-05 17:45] ricoxor commented on #30
Set the setting og the account to :
- Everebody can see my story

[2015-03-05 23:27] Sh1eld commented on #30
@ricoxor I think that doesn't help though.
I had this issue as well and I'm sure I had that option configured. I think say, I post something to my story, and then someone adds me, they can't see what I posted because it was pre-add. I think this is an intentional feature but I'm just assuming.

[2015-03-06 09:45] ricoxor commented on #26
Can i have a contact with you @Rob-- ? Skype ? Mail :)
Thank's

[2015-03-06 12:53] feedthedogs commented on #18
I am getting the same issue, I tried saving the file and the images work but the videos come out as 0 bytes, it could be the zip issue, but it looks like pysnap takes care of that?

[2015-03-06 13:31] Rob-- commented on #26
@ricoxor yeah sure, leave your Skype or something and I'll contact you.

[2015-03-06 14:24] ricoxor commented on #26
antoinelof@outlook.fr

[2015-03-06 18:09] PhlexPlexico commented on #18
I have the same issue happening with me. I'm able to send videos without text on the screen. However, if there is no text it sends just fine. Using SnapPrefs on android, I do believe the video and text are saved as separate files. I.e. the videos are saved as MP4s, and the text is saved as a jpg. Could this perchance be the problem?

[2015-03-07 04:47] agermanidis commented on #30
What @ricoxor said is correct!

[2015-03-07 04:47] #30 closed

[2015-03-07 09:55] Rob-- commented on #18
@feedthedogs I had the same issue with saving files, I found another simpler solution (only three lines).

Python has a handy library called `pdb`. You can import it and call `pdb.set_trace()`. This will allow you step through your code and debug it line by line (after `set_trace()` is called, type `n` and press enter in the console to step over the code). I suggest downloading this library, setti

[2015-03-07 18:56] ObjectiveTruth commented on #25
Incase anyone finds this thread, these were the steps I took
* upgraded PIP

```easy_install -U pip```
* Uninstalled PIL and Pillow

[code]

[2015-03-08 12:17] N07070 commented on #18
* iPhone 6 :
    * Video Snap without text :heavy_check_mark:
    * with text :no_entry_sign:
* OnePlus One ( Lollipop ) :
    * Without text :heavy_check_mark:
    * With text :no_entry_sign:

[2015-03-09 03:10] PhlexPlexico commented on #18
@N07070 that being said with the snaps being sent as both jpeg and mp4, any ideas how these are sent over Snapchat? As previously commented, are they gzipped then sent to be extracted on the client end? Would it be possible to redirect the entire snap somehow without the api touching it and separating the text jpg and the mp4? I haven't poked around much in the library, and plan to look more in th

[2015-03-09 16:14] Rob-- commented on #6
I've pretty much finished implementation of the the `loq` endpoints - I'll look into the newer ones. I've also added the ability to register an account.

The library isn't entirely finished but it should do the job, https://github.com/Rob--/SnapWrap

[2015-03-09 17:00] N07070 commented on #18
I really don't have the competence to help out with this, sorry man...

[2015-03-09 17:00] N07070 commented on #6
Would you fuse it with the snapchatBot lib ?

[2015-03-09 17:55] N07070 opened #31 "Error when using capturebot"
Hello, thanks for the last update !

However, I am now having this issue.

[code]

Possible fix: declare `filename =  default_filename_for_snap(snap)`

Thanks !

[2015-03-09 17:56] #31 closed

[2015-03-09 17:58] agermanidis commented on #31
Try now?

On Mon, Mar 9, 2015 at 1:55 PM, N07070 <notifications@github.com> wrote:

--
Anastasis Germanidis
(860) 807-5860

[2015-03-09 19:59] N07070 commented on #31
fixed ! :smile:

Thanks !

[2015-03-10 11:11] ishaantaylor commented on #18
I'm also having an issue saving any videos at all (they come up as 0 bytes). These have been sent from a variety of phones. Generally, I can manipulate the snaps even if they are videos. However, there was one error with a Galaxy S3 that the bot was crashing when it tried to send it a video. (This doesn't happen any more.)

Additionally, how would you suggest updating the library so it is up to da

[2015-03-10 11:45] N07070 commented on #18
So, for me, it's just when there is texte added.
To update, I just do a git pull.

Le 10 mars 2015 12:11:10 GMT+01:00, Ishaan Taylor <notifications@github.com> a écrit :

--
Envoyé de mon appareil Android avec K-9 Mail. Veuillez excuser ma brièveté.

[2015-03-10 19:52] N07070 opened #35 "Add a way to delete all the storys form the bot."
Type : Enhancement
Satuts: Urgent

Hello !

Would it be possible to add a way to delete all the story of a given bot ?
Like, if you don't give a snap id to delete_story(), it deletes all of it's story ?

Thanks !

[2015-03-12 11:48] enstulen commented on #27
How did you solve this?

[2015-03-12 12:10] ricoxor commented on #27
Yes by addding a proxy

[2015-03-12 20:59] Jfach opened #36 "Error when calling 'snap.save()'"
I added the line 'snap.save()'  under the on_snap function's definition.

When I send my bot a snap, I get this error message:

Traceback (most recent call last):
  File "testbot.py", line 19, in <module>
    bot.listen(timeout=35)
  File "build\bdist.win-amd64\egg\snapchat_bots\bot.py", line 65, in listen
  File "testbot.py", line 6, in on_snap
    snap.save()
  File "build\bdist.win-amd64\egg\sn

[2015-03-12 21:05] agermanidis commented on #36
Thanks. This seems to be related to allowed characters on windows pathnames
- i'll fix this later today by changing the filename format of snaps.

On Thu, Mar 12, 2015 at 4:59 PM, Jordan Facibene <notifications@github.com>
wrote:

--
Anastasis Germanidis
(860) 807-5860

[2015-03-12 21:12] Jfach commented on #36
Thanks for the fast response! I did some digging around in snap.py. I think you may be correct, as I was able to successfully save by including "snap.jpg as the output_filename parameter. Looking forward to the fix, cheers!

[2015-03-12 21:14] agermanidis commented on #36
You could try to make a pull request too if you'd like! Just edit the
snap.py source to remove the ":" characters from the output filename.

On Thu, Mar 12, 2015 at 5:12 PM, Jordan Facibene <notifications@github.com>
wrote:

--
Anastasis Germanidis
(860) 807-5860

[2015-03-12 23:28] larserikfagernaes opened #39 "requests.exceptions.HTTPError: 400 Client Error: Bad Request"
I keep on getting this error, anny idea what it is?

[2015-03-13 00:39] #36 closed

[2015-03-13 01:32] agermanidis commented on #35
Done (added get_my_stories() and clear_stories() methods)

[2015-03-13 01:32] #35 closed

[2015-03-13 04:27] neuegram opened #40 "Prevent Snapchat's Forced Logout"
I'm sure in testing y'all have noticed it logs you out whenever you login elsewhere. This is a problem for 3rd party apps on iOS / Android / Etc. I've come up with a way to connect with the Snapchat API while avoiding this. I'm not sure of its limitations, but at the very least it should be able to retrieve snaps.

[2015-03-13 05:33] PhlexPlexico commented on #18
@agermanidis has there been any progress to this? Any idea if another pysnap library has figured out this issue? I'm still getting it on my end.

[2015-03-13 07:59] Rob-- commented on #39
It means the request was badly formed, probably due to either malformed JSON or potentially the token used when sending the request. It might have to do with the logging in request. When do you receive the error?

[2015-03-13 08:37] Rob-- commented on #40
What's your way?

Mine is simply running an infinite loop where you create a bot and log in. I catch HTTPErrors and another one I can't quite remember, I wait 3 minutes before continuing the loop.

[2015-03-13 08:39] Rob-- commented on #18
@PhlexPlexico, my library can 'save' snaps. When downloading a snap a temporary file is made, my `save_snap` method just copies this file to a given directory. Check out my library for the method.

[2015-03-13 09:36] N07070 commented on #18
If you save snaps, you juste repost it using the Snap.from_file() method ?

[2015-03-13 11:03] larserikfagernaes commented on #39
Hmm, i get the error when logging in. Here is more of the error message:
File "build/bdist.macosx-10.9-intel/egg/pysnap/utils.py", line 88, in request
  File "/Library/Python/2.7/site-packages/requests-2.5.3-py2.7.egg/requests/models.py", line 831, in raise_for_status
    raise HTTPError(http_error_msg, response=self)
The bot was working before, i dont know what happend.

[2015-03-13 11:18] Rob-- commented on #18
What do you mean?

[2015-03-13 11:24] Rob-- commented on #39
The error is occurring when sending the request, this doesn't really help. Does it occur when the log in request is sent?

[2015-03-13 11:28] larserikfagernaes commented on #39
i belive so, but im not too good at programming, here is the whole error so you can see for yourself:
/System/Library/Frameworks/Python.framework/Versions/2.7/bin/python2.7 /Users/larserik/PycharmProjects/Koding/__init__.py
[2015-03-13 12:27:45,045] Starting new HTTPS connection (1): feelinsonice-hrd.appspot.com
[2015-03-13 12:27:45,339] "POST /bq/login HTTP/1.1" 400 None
Traceback (most recent ca

[2015-03-13 12:39] larserikfagernaes commented on #39
i also get this error:
[2015-03-13 13:38:43,461] Starting new HTTPS connection (1): feelinsonice-hrd.appspot.com
[2015-03-13 13:38:44,573] "POST /loq/login HTTP/1.1" 403 434
Traceback (most recent call last):
  File "/Users/larserik/Desktop/PycharmProjects/untitled/NTNUsnap-master/nfp.py", line 78, in <module>
    bot = StorifierBot("instaqwerty", "aXXo1212")
  File "build/bdist.macosx-10.10-intel

[2015-03-13 14:50] neuegram commented on #40
My method uses Apple's notification system. I realized that even after logging out, notifications continue. I have plans to reverse-engineer this connection to Apple's push servers, although it won't be easy.

[2015-03-13 16:02] enstulen opened #41 "Process stories function"
You're using a function that you removed with the latest commit "unused function" in bot.by.
return self.process_stories(stories)

I used your previous commit where this function was declared and it works, but it goes through every single one:

[2015-03-13 16:37:44,271] "GET /bq/story_blob?story_id=5155449636847616 HTTP/1.1" 200 247952
[2015-03-13 16:37:45,388] Starting new HTTPS connection (1): f

[2015-03-13 16:07] agermanidis commented on #41
Oops, brought it back.

It needs to grab the data for every single snap, so individual calls are required. I can make it optionally not grab the data though if that would help.

[2015-03-13 16:07] #41 closed

[2015-03-13 16:10] enstulen commented on #41
That would be nice :)
I just need the length and to be able to delete the ones that have been on the story the longest time.

[2015-03-13 16:14] agermanidis commented on #41
Cool. Can you make a pull request?

You will need to make that conditional:
https://github.com/agermanidis/SnapchatBot/blob/cb9c0783b68583e542ef7da71c39b4285873393a/snapchat_bots/bot.py#L168-L170

and change a few things on `snap.py` to make it OK to not have any data.

Thanks.

[2015-03-13 16:19] enstulen commented on #41
I’m going out now, but I’ll definitely look at it tomorrow. Thanks! :)

[2015-03-13 16:39] larserikfagernaes commented on #39
i think i solved it my going through proxies.

[2015-03-13 17:02] agermanidis commented on #40
The most lightweight way to do this is probably to retry logging in if you get a 400 error. I think I'll make a decorator for all the bot methods that does that.

@neuegram is there code available somewhere with your approach?

[2015-03-13 17:04] agermanidis commented on #39
Yeah, your IP was probably banned, not much to do from the library's side, except maybe better error reporting :)

[2015-03-13 17:04] #39 closed

[2015-03-13 17:20] neuegram commented on #40
I'm working on reversing it. It's a pain because iOS notifications won't route through a proxy specified in network settings and they are certificate pinning. This could work well for getting around future blocks on Snapchat's end.

[2015-03-13 18:49] Rob-- commented on #40
@neuegram notifications don't necessarily continue after "logging out". If you're on an account on your phone and you close Snapchat and log into the account on your computer you will continue receiving notifications because Snapchat isn't open and therefore (I think) it doesn't send any requests to the API so the servers don't know you're actually still logged in. If you were to open the app agai

[2015-03-13 20:04] neuegram commented on #40
This is evidence that the background requests don't rely on auth_tokens, which could also serve as a vulnerability.

[2015-03-14 16:10] larserikfagernaes opened #43 "Bot won't post on storie"
Suddenly my bot stopped posting on story. The bot doesn't call the on_snap function it seems. Does annybody else have or know what causes this problem ?

[2015-03-14 16:26] larserikfagernaes commented on #43
I get this error:
"requests.exceptions.HTTPError: 401 Client Error: Unauthorized"

[2015-03-14 16:49] N07070 commented on #43
Please do a search before next time...

It means your bot has been banned by snapchat. Go to snapchat.com/unlock to unlock it.

Le 14 mars 2015 17:26:05 GMT+01:00, larserikfagernaes <notifications@github.com> a écrit :

--
Envoyé de mon appareil Android avec K-9 Mail. Veuillez excuser ma brièveté.

[2015-03-14 18:33] krissrex commented on #18
I think he means:

[2015-03-14 18:38] N07070 commented on #18
Yes, indeed.

[2015-03-14 18:58] krissrex commented on #18
I  believe the error exists in pysnap, and not in SnapchatBot. To be exact, it is this function in _\_\_init.py\_\__
[code]

My guess is that the byte matching fails. When I print the bytes of two random video tempfiles, they start like this:
<code>504b030414</code>
<code>504b030414</code>
Which obviously fails the check, as the 2 first bytes are not <code>0x00 0x00</code>, but rather <code>0x50 0

[2015-03-14 19:07] agermanidis commented on #18
Can you send me the file (see email in profile) so I can test some code against it? Phone is having camera issues so I can't generate a test video snap with a caption right now.

[2015-03-14 19:21] krissrex commented on #18
I will do that. Pysnap needs to be changed several places; first it needs to detect zip as video, then it needs to set the zipped-value to 1 in the json-request when the file is a zip.

[2015-03-14 22:18] N07070 opened #44 "Can't guess type of snap in bot."
Hey,

I'm trying to do a little something with my bot. To do that, I need to get the type of the snap. Altough, I cannot import `utils` . Could you help me ?

[code]

The error is :

[code]
Thanks !

[2015-03-14 22:41] agermanidis commented on #44
`snap.media_type`

[2015-03-14 22:41] #44 closed

[2015-03-14 23:00] N07070 commented on #44
I'm sorry, but I don't seem to understand ? Could you explain or give an exemple please ? :smile:

[2015-03-14 23:01] agermanidis commented on #44
You can access the snap's type by doing `snap.media_type`. The `guess_type`
function is internal and is not meant to be used externally.

On Sat, Mar 14, 2015 at 7:00 PM, N07070 <notifications@github.com> wrote:

--
Anastasis Germanidis
(860) 807-5860

[2015-03-14 23:02] agermanidis commented on #44
In your example:

[code]

[2015-03-14 23:04] N07070 commented on #44
Perfect ! Do you think it's time to write a wiki for the lib ? It's getting pretty big, and very usefull to al lot of people.

[2015-03-15 00:18] N07070 commented on #18
Will it be updated soon ? How could I help you ?

[2015-03-16 00:52] krissrex commented on #18
The file uploaded from android is indeed a .zip. Also, it has type 2 when the video is muted, and type 1 when it is normal. So a videosnap with text is a zip with a type that matches its video.
In the POST to /loq/send, it has the field "zipped" set to 1.

[2015-03-16 02:10] agermanidis commented on #18
I'm working on supporting captions generally, both in incoming snaps (with
the text being OCR'ed and available to the user), and in creating new snaps
to send. Will release soon.

The "zipped" field doesn't really matter, it's easy to detect whether data
is zipped or not (from the first bytes). The zip file just contains the
video and a jpg text overlay.

On Sun, Mar 15, 2015 at 8:52 PM, Kristian

[2015-03-16 02:39] #43 closed

[2015-03-16 06:38] ShaneIsrael commented on #18
I have a bot that I have been coding on for a while to do a bunch of different things. I can sent it commands via the text on the image and it will do stuff based on the commands received. I'm using the tesseract OCR library to parse the text.

[2015-03-16 21:00] N07070 opened #45 "Error in bot.py"
Hey !

I updated the bot to the last version ( git pull ), but now I have this error:

[code]

It seems that the uploading of a snap doesn't work anymore ?

[2015-03-16 21:48] N07070 opened #46 "Error in gifbot.py"
Hello ! When I run gitbot.py, I get this error:

[code]

Thanks !

[2015-03-17 00:44] #45 closed

[2015-03-17 08:45] bl3ndom opened #47 "Proxy support?"
Since snapchat has started to ban Ip's, I think we definitely need proxies.

[2015-03-17 10:44] bl3ndom commented on #18
I think that this crash got something to do with this.
[2015-03-17 03:39:23,004] "POST /bq/blob HTTP/1.1" 200 1078048
Traceback (most recent call last):
  File "storifierbot.py", line 17, in <module>
    bot.listen()
  File "build/bdist.linux-x86_64/egg/snapchat_bots/bot.py", line 62, in listen
  File "build/bdist.linux-x86_64/egg/snapchat_bots/bot.py", line 172, in get_snaps
  File "build/bdist.l

[2015-03-17 14:21] N07070 commented on #47
+1

[2015-03-17 16:52] krissrex commented on #18
That is a separate issue, @bl3ndom. Try running again with sudo.

[2015-03-17 17:16] krissrex commented on #18
@bl3ndom This is a different issue. Try running it with sudo.

[2015-03-17 17:58] krissrex commented on #18
@agermanidis my comment regarding the zipped field was for uploading to snapchat's servers. Uploading requires some changes to pysnap. I believe [this](https://github.com/krissrex/pysnap/commit/3b620034839fbd14670cb6aeffd49f35da2d03f6) is sufficient, but I have not tested it yet.

[2015-03-17 18:47] N07070 commented on #18
Is this fixed if I use your pysnap version then ? Because when I save the snap, being a video, I get a 0 bit file... Then, ffmpeg gives me the following error : `temporaire.mp4: Invalid data found when processing input`

[2015-03-17 18:58] N07070 opened #49 "Error while posting to story, does not work anymore."
Hello !

My bot doesn't work anymore; it can't post shit to her story. When trying to, it outputs a 202 None.

Full log :

[code]

Full code :

[code]

Thanks ! :smile:

[2015-03-18 05:54] mavieth opened #50 "Approving Story Posts"
I was wondering if you had any insight as to an approach to approve posts to the story before they are posted to the story. I have a modification of the storifier bot up-and-running right now and have had a lot f success. Is there a way to hold on to the snap until it has been approved?

Thanks and I appreciate this great project that you put together.

[2015-03-18 06:00] agermanidis commented on #50
Hey thanks, I've thought of making a web front-end where you can easily
reject and accept incoming snaps but it's probably not something I'll work
on in the near future. I think the simplest way to do it I can think of
would probably be to have a script that saves all incoming snaps (like
CaptureBot) to a folder, then manually accept a snap by moving the image to
an "accepted" folder. Finally you

[2015-03-18 06:07] mavieth commented on #50
Thanks for the quick reply. That seems like a pretty good solution. I am running it on a Raspberry Pi and was trying to get a couple scripts working that would text me the .png/.mp4 and based on my (yes/no) reply, would post to the story.

[2015-03-18 06:12] agermanidis commented on #50
Ha! That's really cool. Would love to see it in action. In that case you can probably make it all work in a single script -- save every incoming snap, send it over SMS to the user, the user can send something like "YES <filename>", then have a Twilio server listening for messages, creating a snap for every file mentioned and doing a post_story call.

[2015-03-18 06:14] koushag commented on #50
Is it also possible to add text over the images you approve?

[2015-03-18 17:13] N07070 commented on #50
I have a commit pending for that, but it's hard to do it for the videos. Look at my fork, I added a bot supposed to do that.

[2015-03-18 17:20] mavieth commented on #50
Awesome I will take a look. What is your approve or disapprove method?

[2015-03-18 17:27] N07070 commented on #50
The shame of the user with his username put on the snap ? It's an old school method of naming people to make them assume what they say, or post.

[2015-03-18 22:42] mavieth opened #51 "Retrieve Snapchat Views"
Is there a method for retrieving the number of views your snapchat story receives? This would be a pretty cool feature IMO.

[2015-03-18 22:46] N07070 commented on #51
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Maybe fixing the posting to the story would be a first step?

Le 18 mars 2015 23:42:57 GMT+01:00, mavieth <notifications@github.com> a écrit :

- --
http://n07070.tk
Sent form my 1+1
-----BEGIN PGP SIGNATURE-----
Version: APG v1.1.1

iQFJBAEBCgAzBQJVCgBNLBxOZWxzb24gUGVyZHJpYXUgPG5lbHNvbi5wZXJkcmlh
dUBnbWFpbC5jb20+AAoJEN1fBXn7K4bFjAcH/2hq5vXjm2w2oBjn

[2015-03-18 22:47] mavieth commented on #51
The story posts seem to be working fine for me?

[2015-03-18 23:00] krissrex commented on #18
My pysnap is not enough. You also need to implement the change in SnapchatBot. ffmpeg needs the mp4 inside the zip, so you must make sure it is extracted. I believe this have been implemented now by Agetmanidis, but I may be wrong.

[2015-03-19 00:03] koushag commented on #51
He might be referring to issue #18

[2015-03-19 00:27] Jfach commented on #50
This is something I have been working on within my own copy of this project. I'll make a fork once I've got it all down pat. :)

[2015-03-20 17:52] ShaneIsrael opened #52 "KeyError: 'updates_response' bot.py line 27"
I suddenly started getting this error today and I haven't made any changes to the code. My bot has been running fine for quite a while until I tried to restart it today and now it gets that error.

http://i.imgur.com/jEq3koR.png

Any account I try to log in with the bot gets that error.

[2015-03-21 07:18] ShaneIsrael commented on #52
I'm guessing Snapchat made another change on their end, I installed the latest pysnap and still get the issue.

[2015-03-21 21:42] agermanidis commented on #52
Yeah, definitely a change on Snapchat's end -- probably some additional fields that weren't required by `/loq/login` before now are. We need to completely document the new API to make sure we're making the right requests.

[2015-03-22 22:06] mavieth opened #53 "Insecure Platform Warning"
While running bot.listen() every request responds with this message.

Is anyone else having a similar issue? It is still fully functional.

[2015-03-22 22:04:18,923] "POST /bq/blob HTTP/1.1" 410 None
[2015-03-22 22:04:18,997] Starting new HTTPS connection (1): feelinsonice-hrd.appspot.com
/usr/local/lib/python2.7/dist-packages/requests-2.6.0-py2.7.egg/requests/packages/urllib3/util/ssl_.py:79: Ins

[2015-03-22 22:20] mavieth commented on #52
Has there been any updates on how we could go about fixing this?

[2015-03-22 23:46] mavieth commented on #53
This fixed it:

sudo pip install requests==2.5.3

[2015-03-23 02:36] agermanidis commented on #53
Thanks, I made the change.

[2015-03-23 02:36] #53 closed

[2015-03-23 05:23] csu opened #54 "IOError: File not open for writing"
[code]

[2015-03-23 08:19] jfremstad commented on #54
I have the same problem, and I've noticed that this only happens if the bot receives a videosnap from certain phones.

[2015-03-23 20:56] N07070 commented on #52
Also had this error.

[2015-03-24 20:08] jcherrera opened #55 "Won't add friend"
I tried:
from argparse import ArgumentParser
from snapchat_bots import SnapchatBot

class StorifierBot(SnapchatBot):
    def on_snap(self, sender, snap):
        self.post_story(snap)

    def on_friend_add(self, friend):
        self.add_friend(friend)   #I also tried with seld.add_friend(self,friend) with no luck

    def on_friend_delete(self, friend):
        self.delete_friend(friend)  #I als

[2015-03-24 20:09] jcherrera commented on #55
When I run this the bot is able to add all snaps to its story, though it does not add/delete new friends...

Also, how can the bot be persistent, meaning that if it fails it would run again?

[2015-03-24 20:11] koushag commented on #52
Is there a way I can bypass this problem until someone fixes it?

[2015-03-24 21:35] N07070 commented on #52
Not really, we need to wait for @agermanidis to fix it. Want dogecoin ?

[2015-03-24 21:37] N07070 commented on #55
Yes; please look for the try... except... statement in the python docs, you'll learn much ! :smile:

[2015-03-24 22:08] jcherrera commented on #54
I get the same error with certain videosnaps, is there anyway to disable all videosnaps? So only photosnaps are used?

[2015-03-24 22:18] jcherrera commented on #55
@N07070 Where can I find that?

[2015-03-24 22:54] jcherrera commented on #52
@koushag @N07070 I had it working last night and this morning, and it was until Today that I started getting this error.

I tried running it on a linux vm and on mac osx and had the same problem, is snapchat filtering specific accounts?

[2015-03-24 23:29] mavieth opened #56 "Bot Stop Working"
Will only receive this error. Anyone else get this?

  File "/usr/local/lib/python2.7/dist-packages/snapchat_bots-0.1-py2.7.egg/snapchat_bots/bot.py", line 27, in __init__
    self.auth_token = result['updates_response']['auth_token']
KeyError: 'updates_response'

[2015-03-24 23:37] agermanidis commented on #56
An issue already exists. #52

[2015-03-24 23:37] #56 closed

[2015-03-24 23:38] mavieth commented on #52
...So what now?

[2015-03-24 23:40] agermanidis commented on #52
I'll take a look and try to figure out how to solve it when I find the time.

[2015-03-25 15:15] krissrex commented on #55
@jcherrera Your code is a bit tricky to understand when you dont use code blocks. Identation is gone, and I cant tell if you are writing code or talking about it. Please put code inside a block like this:
[code]
[code]
Note that using <code>except Exception</code> will catch all exceptions, even __ctrl c__, so you might want to select what exceptions to catch more precisely.
Have a look at <a href

[2015-03-25 15:19] krissrex commented on #54
I guess it is because line 86 in snap.py should use rb+ instead of rb.
[code]

[2015-03-25 19:49] csu commented on #54
Thanks @krissrex!

[2015-03-26 14:25] sallaben commented on #6
check out mgp25's Snap-Api on here

[2015-03-26 14:26] sallaben commented on #6
also, https://github.com/JorgenPhi/php-snapchat/wiki/API-v2-Research

[2015-03-28 02:48] misingnoglic commented on #52
I am still getting this issue now

[2015-03-29 23:29] mavieth opened #58 "Updated Responses"
How can I help making the Snapchat bot work again?

[2015-04-05 09:11] koushag commented on #58
also looking for a way to help :+1:

[2015-04-05 10:49] N07070 commented on #58
We need to get someone to help. Would a bounty help @agermanidis make this working again ?

[2015-04-05 18:10] agermanidis commented on #58
I'm working on a fix, but I'm starting to suspect that Snapchat is actually looking at repos like this and updating their backend to block us. And I'm not sure I want to play this endless cat-and-mouse game.

[2015-04-05 20:01] N07070 commented on #58
Well, you could make it private and invite-only ?

Le 05/04/2015 20:10, Anastasis Germanidis a écrit :

[2015-04-06 17:04] mavieth commented on #58
That would be a pretty cool solution. Any thoughts @agermanidis?

[2015-04-07 18:14] ahoskins commented on #8
Sorry, I forgot about this.  I do have a solution that works and will pull request as soon as I can get around to it.

[2015-04-07 18:23] mavieth commented on #8
Awesome! Will this be invite only or open to public github? Any idea on a time frame?

[2015-04-08 00:46] ahoskins commented on #8
I will send a pull request to this repo by the end of the week!  I have my own [public project](https://github.com/ahoskins/Snapper) using this library.  It is a working extension of the google-bot - feel free to check it out.  I'll clean it up and send a pull request to this project later this week.

[2015-04-14 18:02] bl3ndom commented on #58
If there is anything to do, please inform us!

[2015-04-15 00:08] red-green commented on #52
Dang it, Snapchat! Why do you have to do this to me???

[2015-04-15 15:10] red-green commented on #58
We need to convince Snapchat that APIs are a good idea....

[2015-04-15 16:16] gerbill commented on #58
So there's no more API for SnapChat?

[2015-04-15 16:19] red-green commented on #58
@gerbill there is, it's undocumented, but they keep changing it to stop people from making bots.

[2015-04-15 17:23] gerbill commented on #58
how often do they change it?

[2015-04-17 07:27] justinoreilly opened #59 "Please create guide for how to set this up with ubuntu or centos"
Trying to get the dependancies correct has been an absolute nightmare.

[2015-04-17 13:37] blendom commented on #59
True, I had to install everything at least 6 times and then it just worked.
On Apr 17, 2015 10:27 AM, "justinoreilly" <notifications@github.com> wrote:

[2015-04-17 13:44] mavieth commented on #59
Does it work now?

[2015-04-17 14:33] justinoreilly commented on #59
Here is that I get in my console when I try to install.
http://pastebin.com/r34q11L4

[2015-04-17 16:43] justinoreilly commented on #58
After finally getting up and running i am getting this same error. Any update on a new break through?

[2015-04-17 16:44] justinoreilly commented on #59
I have managed to make it work but I am stonewalled by needing updated responses.

[2015-04-17 16:48] mavieth commented on #59
You try installing:

sudo pip install requests==2.5.3

That was a previous fix, not sure about now. What is your error message?

[2015-04-17 16:54] justinoreilly commented on #59
[root@xmpp examples]# python storifierbot.py -u ********** -p *************
[2015-04-17 12:53:21,595] Starting new HTTPS connection (1): feelinsonice-hrd.appspot.com
/usr/lib/python2.6/site-packages/requests/packages/urllib3/util/ssl_.py:79: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause certain SSL connect

[2015-04-18 18:53] Samze commented on #59
You could always run the bot in a docker container. I created a Dockerfile that installs all dependencies, so you don't have to - check it out.
https://github.com/Samze/SnapchatBot-docker

If you a set of instructions that allow you to install dependencies on your ubuntu machine, you can always check out the instructions in the Dockerfile.
https://github.com/Samze/SnapchatBot-docker/blob/master/Do

[2015-04-18 22:48] Jfach commented on #52
I think there should be some sort of failing tag added to the repo, unless anyone is successfully running it without getting the updates_response error. This would prevent the unnecessary duplicates from being opened

[2015-04-19 18:54] jcherrera commented on #52
I went into the snapchat account I was using with this bot, and I had a message from snapchat saying that I was putting myself and others at risk for using a third-party application to access SC.

[2015-04-28 13:23] Lukasa commented on #53
This is a *terrible* idea.

requests 2.5.3 contains a known security vulnerability, CVE 2015-2296, as noted in [the release notes](http://docs.python-requests.org/en/latest/community/updates/#id3). You should be bringing your pin up to at least 2.6.0.

[2015-04-28 16:22] mavieth commented on #53
I was unaware. So it should be modified to:

sudo pip install requests==2.6.0

Thanks!

[2015-04-28 22:27] edgarZD commented on #58
Any luck with this? I'm getting the following:

[2015-04-28 15:24:36,548] Starting new HTTPS connection (1): feelinsonice-hrd.appspot.com
/Library/Python/2.7/site-packages/requests-2.6.2-py2.7.egg/requests/packages/urllib3/util/ssl_.py:90: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause certain SSL connectio

[2015-04-28 22:51] justinoreilly commented on #58
No luck on my end yet.

Sent from my iPhone

On Apr 28, 2015, at 18:28, edgarZD <notifications@github.com<mailto:notifications@github.com>> wrote:

Any luck with this? I'm getting the following:

[2015-04-28 15:24:36,548] Starting new HTTPS connection (1): feelinsonice-hrd.appspot.com<http://feelinsonice-hrd.appspot.com>
/Library/Python/2.7/site-packages/requests-2.6.2-py2.7.egg/requests/packages/

[2015-05-11 19:35] sverrejb commented on #52
Is this fixed? I got this error today.

[2015-05-11 20:03] red-green commented on #52
As has been pointed out, Snapchat is likely actively changing their api to prevent us from using it.

[2015-05-22 16:39] krissrex commented on #52
The issue may be simpler than we think. The key <code>updates_response</code> does not exist, because snapchat replies with:
[code]
I will try updating the client header and see how this goes.

[2015-05-22 18:21] N07070 commented on #52
They might be a solution after all ?

On 22/05/2015 18:39, Kristian Rekstad wrote:

[2015-05-22 21:17] krissrex commented on #52
Yes, there is a solution, but it is not easy. Either use the android system and generate the required keys, or reverse engineer the iOS-app for discover how the hash is computed.
I see some PHP-libraries used the android-solution.

[2015-05-23 10:24] N07070 commented on #52
Should I just try random user-agents ? Also, do you have an ideal of how
to use the android system and generate the required keys ?

On 22/05/2015 23:17, Kristian Rekstad wrote:

[2015-05-23 18:38] krissrex commented on #52
@N07070

That would not work. Either you use an old one, to which Snapchat API responds with "too old client", or you use a new one which requires more info.

You would need to use a google account to send a request for OAuth2 tokens, using snapchats package name, I believe.

I read about this in another github issue for the PHP library. They said that once you had a request, it was easy to repeat

[2015-05-23 18:43] krissrex commented on #52
The iOS way of authentication is perhaps easier from both a python and user perspective, as it only requires a hash. However, iOS apps are encrypted, and most likely reversed to an assembly-like language. This makes it hard to discover how the hash is generated in the first place.

And we ultimately dont know what the hash consists of. It is based on guesses that it only uses user/password/tokens

[2015-05-23 18:48] N07070 commented on #52
I have an Android Phone at my disposal. Now, as for the OAuth part, I
would need more info, because I am good with python, but Java and
Android, not so much....

On 23/05/2015 20:38, Kristian Rekstad wrote:

[2015-05-27 19:16] N07070 commented on #52
Okay, I looked through the php code. So, now, could @agermanidis make an update as the provided solution seems to work in php, could you port it to python ?

[2015-06-19 06:03] kswain1 opened #60 "Support?"
I am running the Autowelcome bot, and I keep getting the issue Auto-Welcomer Bot: error: argument -u/--username is required.

I am setting the username and password in my code.

Also does this repo still work for the updated snapchat?

[2015-06-19 11:51] koushag commented on #60
This repo currently doesn't work due to #52. The main developer I think decided it's not worth chasing.

you must enter the username and password on the command line like: python autowelcomebot.py -u <your username> -p <your password>

[2015-07-06 17:01] JohnTroony commented on #53
What about  `pip install pyopenssl ndg-httpsclient pyasn1` ? I'm using these on an OpenSuse 13.2 install (64 bit) and there are no errors :P

[2015-07-06 18:34] N07070 commented on #53
The framework works for you ?

•

Le 6 juil. 2015 à 19:01, John Troony <notifications@github.com> a écrit :

[2015-07-06 19:25] JohnTroony commented on #53
@N07070 Maybe, I'm using `virtualenv`. Not really sure if other versions of these packages are installed, overriding my set up... I can copy my `pip.log` file on pastebin just in case you want to take a look.

[2015-07-06 20:37] mavieth commented on #53
That would be awesome.

On Mon, Jul 6, 2015 at 3:25 PM, John Troony <notifications@github.com>
wrote:

--
Michael Vieth
The Ohio State University
Computer Information Science
(614)-557-6952

[2015-07-07 11:52] N07070 commented on #53
Could you make a test with the latest version or/and provide a log of your install ?

Could you test a bot and say if it works ?

•

Le 6 juil. 2015 à 22:37, Michael Vieth <notifications@github.com> a écrit :

[2015-07-18 15:03] N07070 commented on #53
@JohnTroony Hey ? Did it work for you then ?

[2015-07-19 19:27] fredghostkyle commented on #58
@justinoreilly @red-green @N07070 @agermanidis Any updates?

[2015-07-19 19:37] red-green commented on #58
Because if recent changes and pushes toward commercialization I'm the recent update, It's not likely Snapchat will allow third party apps that don't involve "discover". Even if we do figure out this api, they'll just change it again.

[2015-07-19 19:39] fredghostkyle commented on #58
@red-green Well darn then. Do you know of any out there that are working right now?

[2015-07-19 19:41] red-green commented on #58
@fredghostkyle nope sorry :disappointed:

[2015-07-19 19:42] fredghostkyle commented on #58
@red-green darn, all I wanted to do was raise my snap story. Ohh well :P better luck when SnapChat see that power that 3rd party apps have.

[2015-09-08 05:23] lucasgolino opened #61 "[SOLVED] bot.pu Line 27 error"
File "build/bdist.linux-x86_64/egg/snapchat_bots/bot.py", line 27, in __init__
KeyError: 'updates_response'
![captura de tela de 2015-09-08 02 23 31](https://cloud.githubusercontent.com/assets/1259468/9727025/9ebed286-55d0-11e5-90ff-8d7a233d30c7.png)

[2015-09-09 06:04] #61 closed

[2015-09-20 20:41] alex742 opened #62 "Setup.py won't run"
The error that comes up is:

Traceback (most recent call last):
  File "C:\Users\Alex\Desktop\Python\snapbot\SnapchatBot-master\setup.py", line 24, in <module>
    license=open('LICENSE').read()
  File "C:\Python32\lib\distutils\core.py", line 109, in setup
    _setup_distribution = dist = klass(attrs)
  File "C:\Python32\lib\distutils\dist.py", line 257, in __init__
    warnings.warn(msg)
  File

[2015-09-20 20:44] N07070 commented on #62
You might want to update all your python install, can't reproduce. Also, please note that this repo is dead, the bots don't work anymore.

[2016-04-29 23:15] AlphaT3ch opened #63 "Key Error?"
[2016-04-29 23:15:09,223] Starting new HTTPS connection (1): feelinsonice-hrd.appspot.com
[2016-04-29 23:15:09,605] "POST /loq/login HTTP/1.1" 200 None
Traceback (most recent call last):
  File "reflectorbot.py", line 22, in <module>
    bot = ReflectorBot(args.username, args.password)
  File "build/bdist.linux-x86_64/egg/snapchat_bots/bot.py", line 27, in __init__
KeyError: 'updates_response'

[2016-06-01 20:04] Jfach commented on #63
@AlphaT3ch Unfortunately this repo is deprecated and no longer works with the Snapchat API.

[2016-06-02 20:36] AlphaT3ch commented on #63
@Jfach Yeah, just realizing that. It seems that all of them are turning up that way. Any clue where to find a working one? At this point, I don't even care what language, I could port it myself.

[2016-06-02 21:07] Rob-- commented on #63
@AlphaT3ch I believe [this](https://github.com/mgp25/SC-API) guy has somehow got the Snapchat API to work but he is proxying all requests and his work isn't open source. I believe it is also not free, so good luck. I don't know of any working libraries at the moment, I believe Snapchat have privatised their API and from what I remember last time I tried to document their new API is that it's very

[2016-06-03 00:53] mzaboss commented on #58
Full Snapchat API using a new and complex tweak.

You can use it to:

Create snapchat bots.

* Features:

# Send a media to a story
# Send a snap
# Add a friend
# Delete a friend
# Mark a snap video as viewed

Create a third app on the App Store or Play Store.

more dev informations will be sent in PDF.

Monthly subscription: $450! only. Unlimited requests to snapchat.

FREE 24h trial!

Skype: mza

[2016-09-26 08:29] joveice opened #64 "How to install ffmpeg, ImageMagick, and libjpeg"
Yea title says it all

[2016-09-28 08:00] #64 closed

[2016-09-28 08:00] joveice opened #65 "Error when starting"
Traceback (most recent call last):
  File "googlerbot.py", line 1, in <module>
    import time, requests, tempfile, urlparse, os, boto, uuid, re
  File "/usr/lib/python2.7/dist-packages/requests/__init__.py", line 60, in <module>
    from .api import request, get, head, post, patch, put, delete, options
  File "/usr/lib/python2.7/dist-packages/requests/api.py", line 14, in <module>
    from . impo

[2016-12-30 20:05] drewsefolson commented on #62
but what about https://github.com/agermanidis/SnapchatBot/issues/6#issuecomment-75419682 ??? have you made any progress on the project

[2016-12-30 20:20] drewsefolson commented on #63
@Rob-- I believe @Snowlav may be making a library, I think he may have completed it. but dont quote me on that

sources:
https://github.com/agermanidis/SnapchatBot/issues/6#issuecomment-75419682

[2016-12-30 20:27] Rob-- commented on #63
@drewsefolson I've seen no progress in open source work to access Snapchat's private API, from what I can remember I think a special key needs to be generated that's used either to sign requests or is passed along as a parameter but it's incredibly hard to get this key (https://github.com/fisch0920/snapchat/issues/29), one guy (I think it's Liam, https://github.com/liamcottle) runs Casper and know

[2016-12-30 20:40] drewsefolson commented on #63
@Rob-- Well actually I have been tried to get in touch with Liam on and off for a while. My thought was becuase I am currently a Computer Science student of Stanford University and I would like to use the api to do some work on a project, but my school isnt granting me the funds so hopefully he will understand and grant me access at least for a little while. he seems like a nice enough guy.

[2016-12-30 20:41] drewsefolson commented on #63
@Rob-- if I do get access to the will snapchatbot still work? Or do you think I will need to do a little touch up work to the project

[2016-12-30 21:45] Rob-- commented on #63
@drewsefolson if you do get access, you won't be able to use this library as it's not built around Casper. You could try using the NodeJS library I linked which is built around the Casper API but you might need to update it to work.

Or you could try investigating the API yourself and see if you get anywhere!

[2017-01-29 19:23] nathanallen32 commented on #65
I don't understand anything. I try to make a sender bot like one that spams ppl. But when I do I forget to put two ='s and I have to start over cuz of Python.... Did u figure out how to do anything?

[2017-02-09 08:41] jibusayone commented on #26
@Rob-- Hi Rob, I tried using `/loq/login` instead of the old `/bq/login` endpoint, but it's still giving me `400 BAD_REQUEST`. Any idea on why this could happen?

[2017-06-14 00:46] menonmoon commented on #65
You figure out how to make a spambot yet

[2017-06-28 09:02] stamplong commented on #54
thanks @krissrex first use GitHub reply message，thanks

[2017-06-28 09:03] stamplong commented on #54
use use

[2017-09-26 20:00] brorbw commented on #52
I get a 403 on the login request
[code]

[2017-10-26 23:49] harryiliffe opened #66 "Deprecated Repo"
Please can you add a line in your readme noting that this repo is deprecated so others don't spend ages trying to get it to work.

Thanks :)

[2017-10-27 07:07] HTahboub commented on #66
I agree. If I hadn't just seen this issue right now, this would've happened to me. So thanks.

[2017-10-27 15:30] agermanidis commented on #66
done

[2017-10-27 15:30] #66 closed

[2017-12-14 19:08] bhupinderrandhawa27 commented on #39
larserikfagernaes Can you please share the details what exactly you did to solve this from proxies side?

[2018-12-05 11:04] nisutec opened #67 "Start Error"
Why i recive thies error ?

root@vps-zap59814x-4:~/SnapchatBot-master/examples# python reflectorbot.py -u noxxxxx -p 19wr#%xxxxxxxxx
[1] 21608
-bash: FeFOZyU9T@T2YRyUR%SxPz%Sg7vOCrdg5: command not found
root@vps-zap59814-4:~/SnapchatBot-master/examples# [2018-12-05 11:02:36,165] Starting new HTTPS connection (1): feelinsonice-hrd.appspot.com:443
[2018-12-05 11:02:36,536] https://feelinsonice-hrd.a

[2019-06-23 13:33] #18 closed

[2019-06-23 13:34] #46 closed

[2019-06-23 13:34] #49 closed

[2019-08-04 17:17] rydeom commented on #67
I have the same error and without any idea how to fix it. Did anybody got a fix?

[2019-08-12 10:29] SamKingDev commented on #67
First line in the readme

"This repo is deprecated due to changes in Snapchat's unofficial API."

[2020-04-12 10:50] ghost opened #68 "snap bot"
[]()snapkit

[2020-04-12 10:53] ghost commented on #68
snapmap@snapmap.click.6017

[2020-04-12 11:04] ghost opened #69 "snap bot"
class​ ​ReflectorBot​(​SnapchatBot​):
  ​#​ when receiving a snap, sends the same snap back to the sender​
  ​def​ ​on_snap​(​self​, ​sender​, ​snap​):
    ​self​.send_snap([sender], snap)

  ​#​ when someone adds the bot, the bot adds them back​
  ​def​ ​on_friend_add​(​self​, ​friend​):
    ​self​.add_friend(​self​, friend)

  ​#​ when someone deletes the bot, the bot deletes them too​
  ​def​ ​

[2020-04-12 11:26] ghost commented on #69
Login

الحصول على Outlook for Android<https://aka.ms/ghei36>

________________________________
From: 7to328 <notifications@github.com>
Sent: Sunday, April 12, 2020 2:23:19 PM
To: agermanidis/SnapchatBot <SnapchatBot@noreply.github.com>
Cc: 7to328 <H563814084@outlook.sa>; Your activity <your_activity@noreply.github.com>
Subject: Re: [agermanidis/SnapchatBot] snap bot (#69)

Reopened #69<https://git

[2020-04-12 11:41] ghost commented on #69
Succraib.. Login #69

الحصول على Outlook for Android<https://aka.ms/ghei36>

________________________________
From: 7to328 <notifications@github.com>
Sent: Sunday, April 12, 2020 2:26:59 PM
To: agermanidis/SnapchatBot <SnapchatBot@noreply.github.com>
Cc: 7to328 <H563814084@outlook.sa>; Your activity <your_activity@noreply.github.com>
Subject: Re: [agermanidis/SnapchatBot] snap bot (#69)

Login

ال

[2020-04-12 11:43] ghost commented on #69
https://github.com/agermanidis/SnapchatBot/issues/69#event-3224995628

[2020-06-28 23:05] stonedbaby opened #70 "Idk"

[2020-06-29 05:32] ghost commented on #70
..

[2020-11-12 21:09] ghost opened #71 "Is there a way to use this with the time library to send snaps at specific times?"
Title says it all, thanks in advance!

[2020-12-21 02:57] pigeonburger commented on #71
You do realise this is deprecated right?

[2020-12-21 14:57] rony7909 commented on #69
I need a snapchat bot please contact me skype:rsarkar6155@gmail.com

[2020-12-22 03:58] fk27122019 opened #72 "Yyyyy"

[2020-12-26 22:46] AaronHannaway opened #73 "Where do I put the bots User & Pass?"
In what file do I put
[code]
Help would be greatly appreciated!

[2021-01-28 00:45] arooom opened #74 "snapchat"
Username
password
appps from snap

[2021-01-28 00:45] arooom commented on #74
s

[2021-03-06 23:36] zzzzzz-zzzz opened #75 "Contact"

[2021-03-06 23:37] zzzzzz-zzzz commented on #75
?

[2021-03-06 23:42] zzzzzz-zzzz commented on #75
Snapchat

[2021-03-07 13:15] #75 closed, assigned to nobody

[2021-04-06 11:49] zzzzzz-zzzz opened #76 "Zzz"
class ReflectorBot(SnapchatBot):
  # when receiving a snap, sends the same snap back to the sender
  def on_snap(self, sender, snap):
    self.send_snap([sender], snap)

  # when someone adds the bot, the bot adds them back
  def on_friend_add(self, friend):
    self.add_friend(self, friend)

  # when someone deletes the bot, the bot deletes them too
  def on_friend_delete(self, friend):
    self.

[2021-04-15 18:33] nada202 commented on #74
Can you help me with it

[2021-04-20 12:34] icelts opened #77 "this bot working now?"
i see the last update is five years ago.

[2021-05-10 21:11] tjford1117 opened #78 "Snap da hoes"
Yeeeee

[2021-08-04 12:05] Mb2500 opened #79 "https://story.snapchat.com/o/W7_EDlXWTBiXAEEniNoMPwAAYmpbS2dxHUhrsAXsN1KDmAXsN1KDmAO1OAA"

[2021-08-23 19:52] FreshImmuc commented on #79
yo, is this bot still working?

[2021-08-23 19:52] FreshImmuc commented on #78
yo, is this bot still working?

[2021-08-23 19:52] FreshImmuc commented on #74
yo, is this bot still working?

[2021-09-08 14:27] Udxr commented on #79
I don't think so. I tried using it a few months ago and got nowhere with it.

[2021-09-10 23:05] FATCAT47 commented on #73
replace `<account username>` and `<account password>` with your credentials within `""` (quotes) if I'm not mistaken.

[2021-10-20 12:57] Maccas3337 opened #80 "No"
Done

[2021-10-20 12:58] Maccas3337 opened #81 "K"
(source at examples/reflectorbot.py)

[2021-10-20 13:00] Maccas3337 opened #82 "K"

[2021-11-22 16:03] Jamal1146 opened #83 "Snapchat added"
Hi

[2021-12-07 22:54] Leonrules opened #84 "Snapbot"

[2021-12-12 10:33] Leonrules opened #85 "Bots"
https://github.com/agermanidis/SnapchatBot/commit/91e851cedcf12892d1ec51a6386b17ef681ea001

[2021-12-30 20:52] Leonrules opened #86 "Reflector bot"

[2021-12-30 20:53] Leonrules commented on #86
Having trouble installing not any suggestions

[2022-03-21 07:37] AliAryanTech opened #87 "How To Deploy it on Heroku?"
It's not easy by Installing termux
So, can we just deploy this bot on Heroku?

[2022-08-19 07:54] Joef14 commented on #79
@Mb2500